@font-face {
	font-family: "Agency FB";
	src: url("../fonts/agency_fb.ttf") format("truetype");
}

#infoContainer {
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
	width: 1088px;
	
	border-style: solid;
	border-color: rgba(0,0,0, 0.5);
	border-radius: 10px 10px 10px 10px;
	
	background: rgba(32,32,32, 0.75);
}

#infoDefile {
	display:block;
	margin-left:-100%;
	text-align:left;
	height:36px;
	
	-webkit-animation:linear marqueelike 20s infinite ;
	-moz-animation:linear marqueelike 20s infinite ;
	-o-animation:linear marqueelike 20s infinite ;
	-ms-animation:linear marqueelike 20s infinite ;
	animation:linear marqueelike 20s infinite ;
	
	font-family: "Agency FB";
	font-size: 28px;
	color: rgba(255,255,255, 1);
}

#colortext{
	color: rgba(182,166,123,1);
}

@-webkit-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-moz-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-o-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-ms-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }